management:
  endpoints:
    web:
      exposure:
        include: '*'
      cors:
        allowed-origins: '*'
        allowed-methods: '*'
        allowed-headers: '*'
  endpoint:
    health:
      show-components: always
      show-details: always

nacos:
  config:
    server-addr: test.nacos.com
  discovery:
    server-addr: test.nacos.com

server:
  port: 8003
  error:
    path: /security/error
spring:
  application:
    name: spring-security
  main:
    banner-mode: 'off'
    log-startup-info: true
  security:
    cors:
      allowed-origins: '*'
      allowed-methods: get,post
      path-pattern: /api/**
  redis:
    enable: true
    type: 0
    schema: redis
    cluster:
      nodes: >-
        10.0.4.110:6371,10.0.4.110:6372,10.0.4.110:6373,10.0.4.111:6371,10.0.4.111:6372,10.0.4.111:6373
    database: 0
    host: 10.0.4.113
    port: 6379
  session:
    store-type: redis
    timeout: 30m
  datasource:
    enable: true
    url: jdbc:mysql://10.0.4.113:3306/security?useSSL=false
    username: admin
    password: Admin_1234
    beetlsql:
      worker.id: 1
      data.center.id: 1

jwt:
  key: test
  iss: com.example
  expire-second: 3600
  after-expire-second: 600
  session:
    verify: true
    key: session